.About-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5; /* Optional: background color */
}

.About-container {
  width: 100%;
  max-width: 1200px;
  padding: 50px;
}

.about-header {
  font-size: 2.5em;
  text-align: center;
  color: #c72121; /* Optional: text color */
  font-weight: bold;
  text-transform: uppercase; 
  margin-bottom: 20px;
}

.Description {
  text-align: center;
  margin-bottom: 20px;
}

.Image-section {
  margin-left: 40px;
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Optional: spacing between images */
}

.Image-section img {
  height: 500px;
  border-radius: 8px; /* Optional: rounded corners for image */
}
